mat-toolbar{
    background: linear-gradient(330deg, #0083ab 80%, #00ff77 95%);
    color: white !important;
}

.flexbox-parent::-webkit-scrollbar {
    display: none;
  }

.flexbox-parent{
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    
    scrollbar-width: none;  /* Firefox */
}